body {
  padding-left:10%;
  background-color: #8cbbd1;
}

h1 {
  text-align: center;
  font-family: 'Ephesis', cursive;
  background-color: whitesmoke;
}

/****** NAV STYLE ******/
.nav {
  height: 100%;
  width: 10%;
  position: fixed;
  z-index: 1;
  background-color: #3c7c99;
  overflow-x: hidden;
  top:0;
  left:0;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: black;
}

.nav a {
  padding: 8px 13px 8px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  text-align: center;
}

.nav a:hover {
  margin-left: 15px;
  color: white;
}

.nav hr {
  width: 50%;
}
